{% extends "base.html" %}

{% block body %}
<h3>Dodaj novu utakmicu:</h3>
<form method='post' action='/add_game_post/' name='add_game'>
<table>
	<tr>
		<td>Domacin</td>
		<td>
			<select name='host'>
				<option default></option>
				{% for team in teams %}
					<option value={{ team.0 }}>{{ team.1  }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td>Gost</td>
		<td>
			<select name='guest'>
				<option default></option>
				{% for team in teams %}
					<option value={{ team.0 }}>{{ team.1  }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td>Pocetak</td>
		<td><input type='text' name="start_time" size='16' maxlength='16'/></td>
	</tr>
</table>
<button type='submit'>Dodaj</button>
</form>
{% endblock %}
