{% extends "base.html" %}

{% block body %}
<h3>Add new team:</h3>
<form method='post' action='/add_team_post/' name='add_team'>
<table>
	<tr>
		<td>Name</td>
		<td><input type='text' name="title" size='40' maxlength='40'/></td>
	</tr>
	<tr>
		<td>City</td>
		<td><input type='text' name="city" size='40' maxlength='40'/></td>
	</tr>
	<tr>
		<td>Country</td>
		<td><input type='text' name="country" size='40' maxlength='40'/></td>
	</tr>
</table>
<button type='submit'>Submit</button>
</form>
{{ content }}
{% endblock %}
